@model IEnumerable<ElectronicRecord.Models.Programare>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacient.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacient.Prenume)
        </th>
        <th>
            Telefon
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacient.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacient.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacient.NrTelefon)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-lg" })  
            @Html.ActionLink("Sterge", "Delete", new { id = item.ID }, new { @class = "btn btn-primary btn-lg" })
        </td>
    </tr>
}

</table>
