@model IEnumerable<ElectronicRecord.Models.Medic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medici</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            Oras
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oras.Denumire)
        </td>
        <td>
            @Html.ActionLink("Detalii", "Details", new { id = item.ID }, new { @class = "btn btn-primary btn-lg" }) 
        </td>
    </tr>
}

</table>
