@model ElectronicRecord.Models.Pacient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalii</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            Data nasterii
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNasterii)
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrTelefon)
        </dd>

        <dt>
            Oras
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oras.Denumire)
        </dd>
        <dt>
            Judet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oras.Judet.Denumire)
        </dd>

    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Inapoi", "Index", "Pacients", new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("Modifica", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("Adauga programre", "Create", "Programares", new { id = Model.ID }, new { @class = "btn btn-primary btn-lg" })
    </div>
</div><br/><br />
<br />
<div >
   <table class="table">
       
    @foreach (var item in ViewBag.Programare)
    {
        <tr> 
        <td> @item.Medic.Nume @item.Medic.Prenume</td>
        <td> @item.Data</td>
        </tr>
    }
    </table>
</div>
